body {
  font-family: "Ubuntu", sans-serif;
  background-color: #282828;
  display: block;
  color: #FFFFFF;
  overflow: hidden;
}

.oneth {
  width: 100%;
  height: 100%;
}

.thirds {
  width: 33.33%;
  height: 100%;
  display: inline-flex;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
}

.product-title {
  background-color: #202020;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title {
  text-align: center;
  vertical-align: middle;
}

.bottom {
    position: fixed;
    bottom:0%;
    width:100%;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.people {
  display: inline-flex;
  background-color: #202020;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.person {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
  border:5px solid #4301FF;
  border-radius: 50%;
  background: #1E1243;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  text-align: center;
  vertical-align: middle;
}

.name {
  margin-top: 3px;
  margin-bottom: 3px;
}








.main-area {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: 0px;
}

.toolbar {
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.toolbar-btn {
  width: 100%;
  background-color: #0C0032;
  border: 1px solid #3500D3;
  text-align: center;
  padding-top: 100%;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.window-area {
  width: 80%;
}

.chat-window {
  background-color: yellow;
  width: 15%;
}
