body {
  font-family: "Ubuntu", sans-serif;
  background-color: #282828;
  display: block;
  color: #FFFFFF;
  overflow: hidden;
  margin:0;
  padding:0;
}

.oneth {
  width: 100%;
  height: 100%;
}

.thirds {
  width: 33.33%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  /* border-top: 2px solid #7E3875; */
  border-top: 2px solid #106DAC;
  position: absolute;
}

.product-title {
  /* background-color: #7E3875; */
  background-color: #106DAC;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title {
  text-align: center;
  vertical-align: middle;
}

.room-code {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.welcome {
  font-size: 1em;
}

.code {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3em;
}

.host {
  font-size: 0.5em;
}

.bottom {
    position: fixed;
    bottom:0%;
    width:100%;
    opacity: 1;
    /* text-align: center;
    vertical-align: middle; */
    overflow: hidden;
}

/* #106DAC */

.people {
  display: inline-flex;
  flex-direction: row;
  background-color: #25273A;
  border-top-right-radius: 50px;
  max-width: 400px;
  overflow: scroll;
}

.person {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
  border:5px solid #106DAC;
  border-radius: 50%;
  background: #083656;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials {
  text-align: center;
  vertical-align: middle;
}

.name {
  margin-top: 3px;
  margin-bottom: 3px;
}








.main-area {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: 0px;
}

.toolbar {
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.toolbar-btn {
  width: 100%;
  background-color: #25273A;
  border: 2px solid #106DAC;
  text-align: center;
  padding-top: 100%;
  position: relative;
  margin-top: 5px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 2em;
}

.window-area {
  width: 97%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}




.presenter-window {
  /* background-color: #7E3875; */
  background-color: #106DAC;
  position: absolute;
}

.file-name {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.file-holder {
  width: 500px;
  height: 400px;
}

.tool-tray {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tool-icon {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.5em;
}
